<div class = "about_blurb">
  <h3> We offer a fine selection of upbeat, quirky designs for the discerning hipster in all of us. Stop by our shop or browse online to view our full collection of standout goods.</h3>
</div>
