<%cache do%>
  <div class = "about container">  
    <div class = "about_photo col-lg-6 col-md-6 col-sm-12">
      <p><%= image_tag("sweaterrack.jpg")%><p>
    </div>
    <div class = "about_blurb col-lg-5 col-md-4 col-sm-12">
      <h4> We offer a fine selection of upbeat, quirky designs for the discerning hipster in all of us. Stop by our shop or browse online to view our full collection of standout goods.
      <br><br>Stop by and see us! We're open 9-5 Tuesday to Sunday.</h4>
    </div>
  </div>
<%end%>


