<h1> We offer a fine selection of upbeat, quirky designs for the discerning hipster in all of us. Stop by our shop, or browse online to view our full collection of standout goods.</h1>

<h4>StaticPages#about</h4>
<p>Find me in app/views/static_pages/about.html.erb</p>
