<div class = "header">
      <h1>Contacts</h2>
    </div>  
      <div class="contacts">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><span class = "glyphicon glyphicon-earphone"></h2>
          <p>07512345678</p>
        </div>
        <div class="col-md-4">
          <h2><span class = "glyphicon glyphicon-envelope"></h2>
          <a href = "mailto:ahaschenburger@gmail.com" style = "text-decoration: none"><p>ahaschenburger@gmail.com</p></a>
        </div>
        <div class="col-md-4">
          <h2><span class = "glyphicon glyphicon-comment"></h2>
          <p>amber.haschenburger </p>
        </div>
      </div>
        </div>
      </div>
    </div>
        
<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
