<div class = "header">
  <h1>Want to Say Hi?</h1>
</div>  
      
<div class="contacts">
  <div class="row">
    <div class="col-md-4">
      <h2><span class = "glyphicon glyphicon-earphone"></h2>
      <p>07512345678</p>
    </div>
    <div class="col-md-4">
      <h2><span class = "glyphicon glyphicon-envelope"></h2>
      <a href = "mailto:ahaschenburger@gmail.com" style = "text-decoration: none"><p>ahaschenburger@gmail.com</p></a>
    </div>
    <div class="col-md-4">
      <h2><span class = "glyphicon glyphicon-comment"></h2>
      <p>amber.haschenburger </p>
    </div>
  </div>
</div>
       