<h3>Welcome! We are purveyors of digital clothing and trends. Pop by our digital shop or come say hello. We'd love to meet you!</h3>

<div class = "page_info">
  <p>Just in case you have someplace to be...the date and time is <%= Time.now %></p>
</div>  

