<h1 align = "center" width = "600" padding="10px 0"> Email Received!</h1>
<table align = "center" width = "600">
  <tbody>
    <tr>
      <td valign="top" padding="10px 0" bgcolor="#70bbd9">
        <p> You have received a new message! <br>
          The contents of the message are: </p>
      </td>
    </tr>
    <tr>
      <td valign="top" padding="20px 0"><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>  
  
  
      