<table align = "center" width = "600">
  <tbody>
    <tr>
      <td valign="top" padding="10px 0" bgcolor="#70bbd9">
        <h1 align = "center" width = "600" padding="10px 0"> Thanks for your order!</h1>
      </td>
    </tr>
    <tr>
      <td valign="top" padding="20px 0"><p>Hi! We hope you had a great shopping experience and that you'll love your new purchase even more. All orders are shipped within five business days. We'll let you know when it's on its way. </p></td>
    </tr>
    <tr>
      <td valign="top" padding="20px 0"><p>Thanks again, your friends at Litote Clothing</p></td>
    </tr>
  </tbody>
</table>  