<table align = "center" width = "600">
  <tbody>
    <tr>
      <td valign="top" padding="10px 0" bgcolor="#70bbd9">
        <h1 align = "center" width = "600" padding="10px 0"> Welcome to Our Shop!</h1>
      </td>
    </tr>
    <tr>
      <td valign="top" padding="20px 0"><p>Hi <%= @user.first_name %>! We're so glad you've joined us on our clothing adventure. Look forward to great deals and even greater shopping experiences. </p></td>
    </tr>
    <tr>
      <td valign="top" padding="20px 0"><p>Thanks again, your friends at Litote Clothing</p></td>
    </tr>
  </tbody>
</table>  