// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 95%;
  border: solid;
  margin: 5% auto;
}

tr {
	display: block-inline;
  border:solid;
}

th {
  text-align: center;
  font-size: 2em;
  display: block-inline;
  line-height: 1.2em;
  border: solid;
}

td {
  border:solid;
}

.btn {
  float: right;
  margin-right: 8%;
}


