// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
  background-color: #E8E7E7;
  padding-top: 60px;
}

/*Nav Bar*/
nav {
  padding-bottom: 30px;
}

.product_image {
  position:relative;
  bottom: 40px;
}

.project a {
  float:left;
  color: #FF3399;
	padding: 1em 1em .5em 1em;
  text-decoration:none;
  display: none;
}

.navbar-header {
  float: right;
  text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 700;
}

.navbar-header #search_bar {
  color:grey;
  text-transform: uppercase;
}

#search_form {
  padding: 1em 1em .5em 1em;
}

#search_label {
  color: white;
}

#search_button:hover{
  color: #FF3399; 
}

#search_button {
  transition: color 600ms;
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-o-transition: color 600ms;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #FF3399;
}

.nav a {
	transition: color 600ms;
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-o-transition: color 600ms;
}


/*Carousel on landing page */
.featured_image {
  width: 80%;
  margin: auto;
  padding: 2%;
}

.carousel-caption {
  font-size: 2em;
  margin-bottom: 2%;
}

.featured_title {
  font-size: 2em;
  padding-bottom: 2%;
}

/*Main Content */
.notice {
  color: #FF3399;
  font-weight: 600;
  position: absolute;
  top: 38px;
  width: 100%;
  z-index: 1000;
}

.page_info {
  background-color: black;
  font-size: 1em;
  color: #FF3399;
}

h4 {
  font-size: 1em;
  color: grey;
  padding: 1%;
}

.about_blurb{
  padding: 0 3% 1% 3%;
  font-size: 1.5em;
}

/*Contact Form*/

.contact-form {
  display: inline-block;
  float: left;
}

.contact-block {
  weight: 600;
}

.form-group {
  display: inline-block;
  margin: 2%;
  width: 80%;  
}

.contact-label {
  float: left;
}

.contacts {
  padding-bottom: 3%;
}

.contacts a:hover {
  color: #FF3399;
}

.btn {
  float: left;
}


