// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
  margin-top: 20px;
}

/*Nav Bar*/

.project a {
  float:left;
  color: #FF3399;
	padding: 1em 1em .5em 1em;
  text-decoration:none;
  display: none;
}

.navbar-header {
  float: right;
  text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 700;
	color: white;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #FF3399;
}

.nav a {
	transition: color 600ms;
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-o-transition: color 600ms;
}

/*Main Content */


.shop_header {
  padding: .5%;
}

.page_info {
  background-color: black;
  font-size: 1em;
  color: green;
}

h4 {
  font-size: 1em;
  color: grey;
  padding: 1%;
}
